<div class="pageheader">
  <h1>{{ tree.common_name }}</h1>
  <h2>{{ tree.latin_name }}</h2>
</div>

<section class="main-content" ng-controller="TreesCtrl">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default"">
        <div class="panel-heading">
          <h3 class="panel-title">Basic Information</h3>
          <div class="actions pull-right">
            <i data-widget-toggle="" class="fa fa-chevron-down"></i>
            <i data-widget-close="" class="fa fa-times"></i>
          </div>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>Area</td>
              <td>{{ tree.area }} sq miles</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!--

- Have a picture
- Have a description of the tree.
- Citation
- Map

 -->
