<h1>Trees</h1>

<table >
  <thead>
    <tr>
      <th>Common Name</th>
      <th>Latin Name</th>
    </tr>
  </thead>

  <tbody>
    <% @trees.each do |tree| %>
      <tr>
        <td><%= link_to tree.common_name.titleize, tree %></td>
        <td><%= tree.latin_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
