<div class="pageheader">
    <h1>C3 Charts</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a>
            </li>
            <li>Charts</li>
            <li class="active">C3 Charts</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight" ng-controller="GraphCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic chart with two lines</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart1">
                        <chart-column column-id="data 1" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data 2" column-values="50,20,10,40,15,25" column-type="line" />
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change line name and color</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart2">
                        <chart-column column-id="data 1" column-name="Data 1" column-color="red" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data 2" column-name="Data 2" column-color="green" column-values="50,20,10,40,15,25" column-type="line" />
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add more info to the axes and add the second y axis.</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart3">
                        <chart-column column-id="x" column-values="period 10,period 20,period 30,period 40,period 50,period 60" />
                        <chart-column column-id="data1" column-name="Data 1" column-color="red" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data2" column-name="Data 2" column-color="green" column-values="50,20,10,40,15,25" column-type="line" />
                        <chart-column column-id="data3" column-name="Data 3" column-color="#000000" column-values="150,20,100,70,85,215" column-type="spline" />
                        <chart-axes values-x="x" y="data1,data3" y2="data2" />

                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-label="Number by 10" axis-type="category">
                                <chart-axis-x-tick tick-rotate="50" />
                            </chart-axis-x>
                            <chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Higher numbers" padding-top="100" padding-bottom="0" range-min="0" />
                            <chart-axis-y axis-id="y2" axis-position="outer-right" axis-label="Lower numbers" padding-top="10" padding-bottom="0" range-max="100" range-min="0" />
                        </chart-axis>
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a grid to the chart</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart4">
                        <chart-column column-id="x" column-values="period 10,period 20,period 30,period 40,period 50,period 60" />
                        <chart-column column-id="data1" column-name="Data 1" column-color="red" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data2" column-name="Data 2" column-color="green" column-values="50,20,10,40,15,25" column-type="line" />
                        <chart-column column-id="data3" column-name="Data 3" column-color="#000000" column-values="150,20,100,70,85,215" column-type="spline" />
                        <chart-axes values-x="x" y="data1,data3" y2="data2" />

                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-label="Number by 10" axis-type="category">
                                <chart-axis-x-tick tick-rotate="50" />
                            </chart-axis-x>
                            <chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Higher numbers" padding-top="100" padding-bottom="0" range-min="0" />
                            <chart-axis-y axis-id="y2" axis-position="outer-right" axis-label="Lower numbers" padding-top="10" padding-bottom="0" range-max="100" range-min="0" />
                        </chart-axis>

                        <chart-grid show-x="false" show-y="true">
                            <chart-grid-optional axis-id="x" grid-value="1" grid-text="Start" />
                            <chart-grid-optional axis-id="y" grid-value="20" grid-text="Minimum" />
                            <chart-grid-optional axis-id="y" grid-value="200" grid-text="Maximum" />
                        </chart-grid>

                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Hide labels, but add subchart and zoom</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart5" show-labels="true" show-subchart="true" enable-zoom="true">
                        <chart-column column-id="x" column-values="period 10,period 20,period 30,period 40,period 50,period 60" />
                        <chart-column column-id="data1" column-name="Data 1" column-color="red" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data2" column-name="Data 2" column-color="green" column-values="50,20,10,40,15,25" column-type="line" />
                        <chart-column column-id="data3" column-name="Data 3" column-color="#000000" column-values="150,20,100,70,85,215" column-type="spline" />

                        <!-- values for y and y2 can be comma seperated list of items, so no commas is label -->
                        <chart-axes values-x="x" y="data1,data3" y2="data2" />


                        <chart-axis>
                            <chart-axis-x axis-position="outer-center" axis-label="Number by 10" axis-type="category">
                                <chart-axis-x-tick tick-count="6" tick-culling="4" tick-fit="false" tick-rotate="50" />
                            </chart-axis-x>
                            <chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Higher numbers" padding-top="100" padding-bottom="0" range-min="0" />
                            <chart-axis-y axis-id="y2" axis-position="outer-right" axis-label="Lower numbers" padding-top="10" padding-bottom="0" range-max="100" range-min="0" />
                        </chart-axis>
                        <chart-grid show-x="false" show-y="true">
                            <chart-grid-optional axis-id="y" grid-value="200" grid-text="Value on the y" />
                            <chart-grid-optional axis-id="y2" grid-value="40" grid-text="Value on the y2" />
                        </chart-grid>
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Show legend, tooltip and size customization</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle  class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body text-center">
                    <c3chart bindto-id="chart6">
                        <chart-legend show-legend="true" legend-position="right" />
                        <chart-colors color-pattern="#1f77b4,#ffbb78,#2ca02c,#ff7f0e" />
                        <chart-size chart-height="600" chart-width="600" />
                        <chart-tooltip show-tooltip="true" group-tooltip="false" />

                        <chart-column column-id="data 1" column-name="Data 1" column-color="red" column-values="30,200,100,400,150,250" column-type="spline" />
                        <chart-column column-id="data 2" column-name="Data 2" column-color="green" column-values="50,20,10,40,15,25" column-type="line" />
                    </c3chart>
                </div>
            </div>
        </div>
    </div>
</section>
