<div class="pageheader">
    <h1>Multiple File Upload</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a>
            </li>
            <li>Forms</li>
            <li class="active">Multiple File Upload</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Dropzone</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel-body">
                        <form action="" class="dropzone" drop-zone="" id="file-dropzone">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
