 <div class="pageheader">
                <h1>Form Components </h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a>
                        </li>
                        <li>Forms</li>
                        <li class="active">Form Components</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basic Form</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" id="exampleInputFile">
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Horizontal form</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="inputEmail2" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Sign in</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Form Elements</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal form-border">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Input Text</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Input Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Placeholder Input</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="Placeholder text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Disabled Input</label>
                                        <div class="col-sm-6">
                                            <input type="text" disabled="disabled" class="form-control" placeholder="Disabled input text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Readonly Input</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly="readonly" class="form-control" value="Readonly input text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Textarea</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group has-success">
                                        <label class="col-sm-3 control-label" for="inputSuccess1">Input with success</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputSuccess1">
                                        </div>
                                    </div>
                                    <div class="form-group has-warning">
                                        <label class="col-sm-3 control-label" for="inputWarning1">Input with warning</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputWarning1">
                                        </div>
                                    </div>
                                    <div class="form-group has-error">
                                        <label class="col-sm-3 control-label" for="inputError1">Input with error</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputError1">
                                        </div>
                                    </div>
                                    <div class="form-group has-success  has-feedback">
                                        <label class="col-sm-3 control-label" for="inputSuccess2">Input with success icon</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputSuccess2">
                                            <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-warning  has-feedback">
                                        <label class="col-sm-3 control-label" for="inputWarning2">Input with warning icon</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputWarning2">
                                            <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="form-group has-error  has-feedback">
                                        <label class="col-sm-3 control-label" for="inputError2">Input with error icon</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputError2">
                                            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Selects </h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <select class="form-control input-lg">
                                        <option value="">.input-lg</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="">Default select</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-sm">
                                        <option value="">.input-sm</option>
                                    </select>
                                </div>
                                <div class="form-group">

                                    <select multiple class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Custom Checkboxes and Radios </h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">


                                <form class="form-horizontal form-border">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Radio</label>
                                        <div class="col-sm-6">
                                            <div class="radio">

                                                <input ichecks class="icheck" type="radio" checked="" name="rad1">
                                                <label>Option 1</label>
                                            </div>
                                            <div class="radio">

                                                <input ichecks class="icheck" type="radio" name="rad1">
                                                <label>Option 2</label>
                                            </div>
                                            <div class="radio">

                                                <input ichecks class="icheck" type="radio" name="rad1">
                                                <label>Option 3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Inline Radio</label>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input ichecks class="icheck" type="radio" checked="" name="rad1">Option 1</label>
                                            <label class="radio-inline">
                                                <input ichecks class="icheck" type="radio" name="rad1">Option 2</label>
                                            <label class="radio-inline">
                                                <input ichecks class="icheck" type="radio" name="rad1">Option 3</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Checkbox</label>
                                        <div class="col-sm-6">
                                            <div class="radio">

                                                <input ichecks class="icheck" type="checkbox" checked="" name="check1">
                                                <label>Option 1</label>
                                            </div>
                                            <div class="radio">

                                                <input ichecks class="icheck" type="checkbox" name="check2">
                                                <label>Option 2</label>
                                            </div>
                                            <div class="radio">

                                                <input ichecks class="icheck" type="checkbox" name="check3">
                                                <label>Option 3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Inline Checkbox</label>
                                        <div class="col-sm-6">
                                            <label class="checkbox-inline">
                                                <input ichecks class="icheck" type="checkbox" checked="" name="rad1">Option 1</label>
                                            <label class="checkbox-inline">
                                                <input ichecks class="icheck" type="checkbox" name="rad1">Option 2</label>
                                            <label class="checkbox-inline">
                                                <input ichecks class="icheck" type="checkbox" name="rad1">Option 3</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>