<section id="main-content" class="animated fadeInUp">
    <!--mail wrapper start-->
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                    <a href="mail-compose.html" class="btn btn-primary btn-block">Compose Mail</a>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li class="active">
                            <a href="#"> <i class="fa fa-inbox"></i> Inbox
                                <span class="label label-primary label-circle pull-right inbox-notification">8</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-star-o"></i> Starred<span class="label label-circle label-warning pull-right inbox-notification">6</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-envelope-o"></i> Sent Mail</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark-o"></i> Important</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-pencil-square-o"></i> Drafts <span class="label label-circle label-info pull-right inbox-notification">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-trash-o"></i> Trash</a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="panel">
                <aside class="panel-body">
                    <button class="btn btn-default btn-block">Manage Labels</button>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li>
                            <a href="#"> <i class="fa fa-bookmark danger-color"></i> Urgent

                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark warning-color"></i> Social<span class="label label-warning pull-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark primary-color"></i> Follow-up</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark success-color"></i> Work Inquiry</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark info-color"></i> Save <span class="label label-info pull-right inbox-notification"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark default-color"></i> ToDo</a>
                        </li>
                    </ul>
                </aside>
            </div>

        </div>
        <div class="col-md-4 col-sm-12" id="inbox-wrapper">

            <section class="panel">
                <header class="panel-heading wht-bg">
                    <h4 class="gen-case">Inbox (83)
                        <form action="#" class="pull-right mail-src-position">
                            <div class="input-append ">
                                <input type="text" class="form-control" placeholder="Search Mail">
                            </div>
                        </form>
                       </h4>
                </header>
                <div class="panel-body minimal">
                    <div class="mail-option">
                        <div class="pull-left mail-checkbox ">
                            <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                All <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">None</a>
                                </li>
                                <li><a href="#">Read</a>
                                </li>
                                <li><a href="#">Unread</a>
                                </li>
                                <li><a href="#">Starred</a>
                                </li>
                                <li><a href="#">Unstarred</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a data-original-title="Refresh" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
                                <i class=" fa fa-refresh"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                More <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
                                </li>
                                <li><a href="#"><i class="fa fa-ban"></i> Spam</a>
                                </li>
                                <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="inbox-pag pull-right">
                            <li><span>1-50 of 83</span>
                            </li>
                            <li>
                                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
                            </li>
                        </ul>

                    </div>
                    <div class="table-responsive pull-left">
                        <table class="table table-inbox table-hover">
                            <tbody>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Dribbble </span>
                                               [Dribbble] Work Inquiry from Google Inc. </a>
                                    </td>
                                    <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">James Bagian</span>
                                                Development - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 20<span class="label label-danger pull-right">urgent</span>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Jeffrey Ashby</span>
                                                 Progress - Sed ut perspiciatis unde omnis iste natus..</a>
                                    </td>
                                    <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Douey</span>
                                                 Touch Base - Reprehenderit qui in ea voluptate velit esse quam</a>
                                    </td>
                                    <td class="text-right">April 20</td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                Timeline - Nam libero tempore, cum soluta nobis</a>
                                    </td>
                                    <td class="text-right">April 20<span class="label label-info pull-right">save</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                New Follower - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Doue</span>
                                               UX Perspective - Reprehenderit qui in ea voluptate velit esse quam</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Mailchimp - Sed ut perspiciatis unde omnis iste natus..</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Design Work - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<span class="label label-warning pull-right">social</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                 Freelance - Sed ut perspiciatis unde omnis iste natus</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Timeline - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">James Bagian</span>
                                                Check it - Maiores alias consequatur aut perferendis doloribus</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Bookmark this - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<span class="label label-danger pull-right">urgent</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Lunch? - Nam libero tempore, cum soluta nobis</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Coffee Break - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                Beta testing - Praesentium voluptatum deleniti atque corrupti quos</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Prod Servers - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Design Work - Omnis voluptas assumenda est, omnis dolor repellendus</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Authentic Goods - Culpa qui officia deserunt mollitia animi, id est laborum et</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Doue</span>
                                                SASS Work - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Almost there - Reiciendis voluptatibus maiores alias consequatur aut</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </section>

        </div>
        <div class="col-md-6 col-sm-12" id="view-mail-wrapper">
            <div class="panel">
                <div class="panel-body">
                    <header>
                        <h2>UX Perspective</h2>
                        <p class="pull-right">Today, April 20, 2:45 PM</p>
                    </header>
                    <div class="row view-mail-header">
                        <div class="col-md-8 ">
                            <img src="img/avatar5.png" alt="" class="img-circle" width="50" height="50">
                            <strong><a href="#">Ivan Bella</a></strong> to <a href="#">Me</a>
                        </div>
                        <div class="col-md-4">
                            <div class="view-mail-reply pull-right">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-reply"></i> Reply</button>
                                <button class="btn  btn-sm btn-default tooltips" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title="Print"><i class="fa fa-print"></i>
                                </button>
                                <button class="btn btn-default btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title="Trash"><i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel view-mail-body">
                                <div class="panel-body">
                                    <p>Hello Mike,</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                    <p>Regards,
                                        <br>Ivan Bella</p>
                                </div>
                                <div class="panel-footer">
                                    <h5>Attchments (1 file, 15.3 KB)</h5>
                                    <br>
                                    <span class="label label-default">Photoshop</span>
                                    <a href="#"><span class="attchments">mockups.psd</span></a>
                                    <button class="btn btn-sm btn-primary pull-right">Download</button>
                                    <button class="btn btn-sm btn-default pull-right"><i class="fa fa-share-square-o"></i> Share</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--mail wrapper end-->
</section>
