<section id="main-content" class="animated fadeInUp">
    <!--mail wrapper start-->
    <div class="row">
        <div class="col-md-2 col-sm-12" id="compose-wrapper">
            <div class="panel">
                <aside class="panel-body">
                    <a href="mail-compose.html" class="btn btn-primary btn-block">Compose Mail</a>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li class="active">
                            <a href="#"> <i class="fa fa-inbox"></i> Inbox
                                <span class="label label-primary label-circle pull-right inbox-notification">8</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-star-o"></i> Starred<span class="label label-warning label-circle pull-right inbox-notification">6</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-envelope-o"></i> Sent Mail</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark-o"></i> Important</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-pencil-square-o"></i> Drafts <span class="label label-info label-circle pull-right inbox-notification">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-trash-o"></i> Trash</a>
                        </li>
                    </ul>
                </aside>
            </div>

            <div class="panel">
                <aside class="panel-body">
                    <button class="btn btn-default btn-block">Manage Labels</button>
                    <ul class="nav nav-pills nav-stacked compose-nav">
                        <li>
                            <a href="#"> <i class="fa fa-bookmark danger-color"></i> Urgent

                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark warning-color"></i> Social<span class="label label-warning pull-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark primary-color"></i> Follow-up</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark success-color"></i> Work Inquiry</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark info-color"></i> Save <span class="label label-info pull-right inbox-notification"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-bookmark default-color"></i> ToDo</a>
                        </li>
                    </ul>
                </aside>
            </div>

        </div>
        <div class="col-md-4 col-sm-12" id="inbox-wrapper">

            <section class="panel">
                <header class="panel-heading wht-bg">
                    <h4 class="gen-case">Inbox (83)
                        <form action="#" class="pull-right mail-src-position">
                            <div class="input-append">
                                <input type="text" class="form-control " placeholder="Search Mail">
                            </div>
                        </form>
                       </h4>
                </header>
                <div class="panel-body minimal">
                    <div class="mail-option">
                        <div class="pull-left mail-checkbox ">
                            <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                All <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">None</a>
                                </li>
                                <li><a href="#">Read</a>
                                </li>
                                <li><a href="#">Unread</a>
                                </li>
                                <li><a href="#">Starred</a>
                                </li>
                                <li><a href="#">Unstarred</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a data-original-title="Refresh" data-placement="top" data-toggle="tooltip" href="#" class="btn btn-default btn-sm tooltips">
                                <i class=" fa fa-refresh"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                                More <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a>
                                </li>
                                <li><a href="#"><i class="fa fa-ban"></i> Spam</a>
                                </li>
                                <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="inbox-pag pull-right">
                            <li><span>1-50 of 83</span>
                            </li>
                            <li>
                                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
                            </li>
                        </ul>

                    </div>
                    <div class="table-responsive pull-left">
                        <table class="table table-inbox table-hover">
                            <tbody>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Dribbble </span>
                                               [Dribbble] Work Inquiry from Google Inc. </a>
                                    </td>
                                    <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">James Bagian</span>
                                                Development - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 20<span class="label label-danger pull-right">urgent</span>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Jeffrey Ashby</span>
                                                 Progress - Sed ut perspiciatis unde omnis iste natus..</a>
                                    </td>
                                    <td class="text-right">April 20 <i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Douey</span>
                                                 Touch Base - Reprehenderit qui in ea voluptate velit esse quam</a>
                                    </td>
                                    <td class="text-right">April 20</td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                Timeline - Nam libero tempore, cum soluta nobis</a>
                                    </td>
                                    <td class="text-right">April 20<span class="label label-info pull-right">save</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                New Follower - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Doue</span>
                                               UX Perspective - Reprehenderit qui in ea voluptate velit esse quam</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Mailchimp - Sed ut perspiciatis unde omnis iste natus..</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Design Work - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<span class="label label-warning pull-right">social</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                 Freelance - Sed ut perspiciatis unde omnis iste natus</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Timeline - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">James Bagian</span>
                                                Check it - Maiores alias consequatur aut perferendis doloribus</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Bookmark this - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<span class="label label-danger pull-right">urgent</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Lunch? - Nam libero tempore, cum soluta nobis</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Coffee Break - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ellen Baker</span>
                                                Beta testing - Praesentium voluptatum deleniti atque corrupti quos</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Prod Servers - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Design Work - Omnis voluptas assumenda est, omnis dolor repellendus</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Authentic Goods - Culpa qui officia deserunt mollitia animi, id est laborum et</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">John Doue</span>
                                                SASS Work - Elit vitae ridiculus nonummy vestibulum</a>
                                    </td>
                                    <td class="text-right">April 19<i class="fa fa-paperclip"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="mail-checkbox" ichecks class="icheck">
                                    </td>
                                    <td><i class="fa fa-star-o"></i>
                                    </td>
                                    <td class="message"><a href="#"><span class="title">Ivan Bella</span>
                                                Almost there - Reiciendis voluptatibus maiores alias consequatur aut</a>
                                    </td>
                                    <td class="text-right">April 19</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </section>

        </div>
        <div class="col-md-6 col-sm-12" id="view-mail-wrapper">
            <div class="panel">
                <div class="panel-body">
                    <header>
                        <h2>New Message</h2>
                    </header>
                    <div class="row view-mail-header">
                        <div class="col-md-12">
                            <div class="view-mail-reply pull-right">
                                <button class="btn btn-sm btn-primary">Send</button>
                                <button class="btn btn-default btn-sm tooltips" data-original-title="Discard" data-toggle="tooltip" data-placement="top" title="Discard"><i class="fa fa-times"></i> Discard
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel view-compose-body">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="to" placeholder="To:">
                                        <div class="send-options">
                                            <a href="javascript:void(0);" class="ccLink">Cc</a>
                                            <a href="javascript:void(0);" class="bccLink">Bcc</a>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-group-cc">
                                        <input type="text" class="form-control" id="cc" placeholder="Cc:">
                                    </div>
                                    <div class="form-group" id="form-group-bcc">
                                        <input type="text" class="form-control" id="bcc" placeholder="Bcc:">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject:">
                                    </div>

                                    <textarea class="textarea form-control" rows="5" cols="40" placeholder="Enter text ..." style="width: 100%; height: 200px"></textarea>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-sm btn-primary ">Send</button>
                                    <button class="btn btn-default btn-sm "><i class="fa fa-times"></i> Discard</button>
                                    <button class="btn btn-default btn-sm pull-right"><i class="fa fa-paperclip"></i> Attach a File</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
    <!--mail wrapper end-->
</section>
