<div class="pageheader">
                <h1>Profile</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a>
                        </li>
                        <li>Pages</li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">
                <div class="row">
                    <div class="col-md-6">
                        <section class="panel">
                            <div class="panel-body profile-wrapper">
                                <div class="col-md-3">
                                    <div class="profile-pic text-center">
                                        <img src="img/avatar2.png" alt="" class="img-circle">
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="profile-info">
                                        <h1>Aaron Adams</h1>
                                        <span class="text-muted">UI Designer</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                        </p>
                                        <div class="connect">
                                            <button type="button" class="btn btn-success btn-trans"><span class="fa fa-check"></span> Following</button>
                                            <button type="button" class="btn btn-primary btn-trans"><span class="fa fa-comments"></span> Chat</button>
                                        </div>
                                        <div class="social">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-lg fa-github"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-lg fa-dribbble"></i></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="panel  timeline-post-to">
                            <div class="panel-body">
                                <form role="form">
                                    <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>
                                            <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>
                                            <a class="btn btn-sm btn-default"><i class="fa fa-music"></i></a>
                                            <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <button type="submit" class="btn btn-primary">Post</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <section class="panel  timeline-post">
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <div class="date">
                                            <span>23</span>
                                            <span class="small">Feb</span>
                                        </div>
                                        <h4>Lorem ipsum dolor sit</h4>
                                        <p>
                                            Tortor metus suscipit lectus lacinia mi. Duis quis ullamcorper, felis consequat ut felis sit, pellentesque sit nunc, porttitor a, neque enim metus sed dictum scelerisque. Ante ornare, ante nunc ac, et feugiat justo urna, pharetra velit convallis, sit magna odio in nunc sit.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="date">
                                            <span>14</span>
                                            <span class="small">Feb</span>
                                        </div>
                                        <h4>Something good can work.</h4>
                                        <p>

                                            <div class='embed-container'>
                                                <iframe src='//player.vimeo.com/video/16566326?title=0&amp;byline=0&amp;portrait=0"' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                            </div>
                                        </p>
                                    </li>
                                    <li>
                                        <div class="date">
                                            <span>12</span>
                                            <span class="small">Jan</span>
                                        </div>
                                        <h4>Lorem ipsum dolor!</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>

                                    </li>
                                    <li>
                                        <div class="date">
                                            <span>01</span>
                                            <span class="small">Jan</span>
                                        </div>
                                        <h4>Vacation photos</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="img/vac-1.jpg" alt="" />
                                            </div>
                                            <div class="col-md-6">
                                                <img src="img/vac-2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="img/vac-3.jpg" alt="" />
                                            </div>
                                            <div class="col-md-6">
                                                <img src="img/vac-4.jpg" alt="" />
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="date">
                                            <span>23</span>
                                            <span class="small">Dec</span>
                                        </div>
                                        <h4>Lorem ipsum dolor!</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="date">
                                            <span>14</span>
                                            <span class="small">Dec</span>
                                        </div>
                                        <h4>Lorem ipsum dolor!</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>
                                    </li>
                                </ul>

                            </div>
                        </section>

                    </div>
                </div>
            </section>