 <div class="pageheader">
                <h1>Blank Page</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a>
                        </li>
                        <li>Pages</li>
                        <li class="active">Blank Page</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">

              </section>