<div class="pageheader">
    <h1>Nestable Lists</h1>
    <div class="breadcrumb-wrapper hidden-xs">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Dashboard</a>
            </li>
            <li>UI Elements</li>
            <li class="active">Nestable Lists</li>
        </ol>
    </div>
</div>
<section id="main-content" class="animated fadeInRight" ng-controller="nestableCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Draggable Tree</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <p>Angular Tree is an AngularJS UI component that can sort nested lists, provides drag & drop support and doesn't depend on jQuery.</p>
                    <!-- Nested list template -->
                    <script type="text/ng-template" id="items_renderer.html">
                        <div ui-tree-handle>
                            <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a> {{item.title}}
                            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="fa fa-times"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="fa fa-plus"></span></a>
                        </div>
                        <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
                            <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'">
                            </li>
                        </ol>
                    </script>
                    <div ui-tree="options">
                        <ol ui-tree-nodes ng-model="list">
                            <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'"></li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Full tree</h3>
                    <div class="actions pull-right">
                        <i data-widget-toggle class="fa fa-chevron-down"></i>
                        <i data-widget-close class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <pre class="code">{{ list | json }}</pre>
                </div>
            </div>
        </div>


    </div>

</section>
