<div class="pageheader">
                <h1>Panels</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a>
                        </li>
                        <li>UI Elements</li>
                        <li class="active">Panels</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Simple panel example with no header title or footer. Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse
                                    <p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Panel content
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque, ut nulla libero ante laboriosam elit in, orci nec vitae viverra amet tempor, ut vivamus nec nec tristique. Vitae in suscipit, aliquam turpis, quis risus tortor, sit in ultricies urna sed leo. Non eu imperdiet vitae placerat, donec magna, metus integer imperdiet purus, sed eu. In vehicula fusce est neque, justo nam leo nascetur consectetuer a, nec dolor sit ut quam, in suspendisse ridiculus vitae</p>
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-solid-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-solid-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-solid-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-solid-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-solid-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-solid-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                </div>
            </section>