  <div class="pageheader">
                <h1>Typography</h1>
                <div class="breadcrumb-wrapper hidden-xs">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Dashboard</a>
                        </li>
                        <li>UI Elements</li>
                        <li class="active">Typography</li>
                    </ol>
                </div>
            </div>
            <section id="main-content" class="animated fadeInRight">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Headings</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but
                                    still want your text to be displayed inline.</p>

                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h1>h1. Bootstrap heading</h1>
                                            </td>
                                            <td class="type-info">Semibold 1.500em</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2>h2. Bootstrap heading</h2>
                                            </td>
                                            <td class="type-info">Semibold 1.188em</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3>h3. Bootstrap heading</h3>
                                            </td>
                                            <td class="type-info">Semibold 1.063em</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>h4. Bootstrap heading</h4>
                                            </td>
                                            <td class="type-info">Semibold 0.875em</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>h5. Bootstrap heading</h5>
                                            </td>
                                            <td class="type-info">Semibold 0.813em</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>h6. Bootstrap heading</h6>
                                            </td>
                                            <td class="type-info">Semibold 0.750em</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Headings</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Body copy</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>NeuBoard's gloabl default <code>font-size</code> is <strong>1em</strong> with a <code>line-height</code> of <strong>1.428</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs are set to <code>0.875em</code>.</p>
                                <p>For ease of use the font sizes are set as variables in the LESS and SASS as px and converted to em.</p>
                                <code>@6px:0.375em;</code>
                                <br>
                                <code>@7px:0.438em;</code>
                                <br>
                                <code>@8px:0.500em;</code>
                                <br>
                                <code>@9px:0.563em;</code>
                                <br>
                                <code>@10px:0.625em;</code>
                                <br>
                                <code>@11px:0.688em;</code>
                                <br>
                                <code> @12px:0.750em;</code>
                                <br>
                                <code>@13px:0.813em;</code>
                                <br>
                                <code>@14px:0.875em;</code>
                                <br>
                                <code>@15px:0.938em;</code>
                                <br>
                                <code>@16px:1.000em;</code>
                                <br>
                                <code> @17px:1.063em;</code>
                                <br>
                                <code> @18px:1.125em;</code>
                                <br>
                                <code> @19px:1.188em;</code>
                                <br>
                                <code> @20px:1.250em;</code>
                                <br>
                                <code> @21px:1.313em;</code>
                                <br>
                                <code> @22px:1.375em;</code>
                                <br>
                                <code>@23px:1.438em;</code>
                                <br>
                                <code>  @24px:1.500em;</code>
                                <br>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Addresses</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>

                                <address>
                                    <strong>Twitter, Inc.</strong>
                                    <br> 795 Folsom Ave, Suite 600
                                    <br> San Francisco, CA 94107
                                    <br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                                <address>
                                    <strong>Full Name</strong>
                                    <br>
                                    <a href="mailto:#">first.last@example.com</a>
                                </address>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Blockquotes</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Style and content changes for simple variations on a standard <code>&lt;blockquote&gt;</code>.</p>
                                <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                    <footer>Someone famous in
                                        <cite title="Source Title">Source Title</cite>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Alignment classes</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Easily realign text to components with text alignment classes.</p>

                                <p class="text-left">Left aligned text.</p>
                                <p class="text-center">Center aligned text.</p>
                                <p class="text-right">Right aligned text.</p>
                                <p class="text-justify">Justified text.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lead body copy</h3>
                                <div class="actions pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
                                <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lists</h3>
                                <div class="actions pull-right">
                                    <i data-widget-toggle class="fa fa-chevron-down"></i>
                                    <i data-widget-close class="fa fa-times"></i>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div class="col-md-6">
                                    <h3>Unordered</h3>
                                    <p>A list of items in which the order does <em>not</em> explicitly matter.</p>
                                    <ul>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit
                                            <ul>
                                                <li>Phasellus iaculis neque</li>
                                                <li>Purus sodales ultricies</li>
                                                <li>Vestibulum laoreet porttitor sem</li>
                                                <li>Ac tristique libero volutpat at</li>
                                            </ul>
                                        </li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h3>Ordered</h3>
                                    <p>A list of items in which the order <em>does</em> explicitly matter.</p>
                                    <ol>
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Consectetur adipiscing elit</li>
                                        <li>Integer molestie lorem at massa</li>
                                        <li>Facilisis in pretium nisl aliquet</li>
                                        <li>Nulla volutpat aliquam velit</li>
                                        <li>Faucibus porta lacus fringilla vel</li>
                                        <li>Aenean sit amet erat nunc</li>
                                        <li>Eget porttitor lorem</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>